Ha: Work done so far: change all data types, drop some corrupted rows with at start_time and end_time
Suggestion for handling null values at start_station_id: we may want to make use of latitude and longtitude? notice below when 
i sort the dataframe by bike_id, it shows the route that the one bike commute. So maybe find out which row has the same latitude/longtitude which the missing value row and 
and insert the id accordingly.

In [7]:
# import all relevant libraries
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
import seaborn as sns
sns.set()
sns.set_style("white")
sns.set_palette("GnBu_d")

# also import these "new" libraries 
# Note: you may have to download an add them to your environment (using e.g. 'conda install -c conda-forge folium')
import folium
from folium import plugins
from folium.plugins import HeatMap
from datetime import datetime #for working with times objects
from datetime import timedelta #for working with times objects
import math
import random

import data

In [8]:
#load csv file and et the index column by 0
bikeRen = pd.read_csv("baywheels_2019", encoding = "ISO-8859-1", index_col=0) 
bikeRen.head(20)

C:\Users\riven\AppData\Local\Temp/ipykernel_23132/4179206828.py:2: DtypeWarning: Columns (3,4,5,6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  bikeRen = pd.read_csv("baywheels_2019", encoding = "ISO-8859-1", index_col=0)

,start_time,end_time,start_station_id,start_station_lat,start_station_lon,end_station_id,end_station_lat,end_station_lon,bike_id
0,2019-10-28 09:46:47,2019-10-28 09:51:05,50.0,37.780526,-122.390288,453.0,37.777934,-122.396973,12424.0
1,2019-08-10 19:31:02,2019-08-10 19:35:05,285.0,37.783521,-122.431158,74.0,37.776435,-122.426244,1718.0
2,2019-05-27 13:18:58,2019-05-27 13:46:37,10.0,37.795393,-122.40477,399.0,37.802636,-122.436289,608.0
3,2019-07-24 22:47:58,2019-07-24 22:52:48,106.0,37.763242,-122.430675,72.0,37.772406,-122.43565,551642.0
4,2019-04-28 17:26:22,2019-04-28 17:31:54,80.0,37.775235,-122.397437,50.0,37.780526,-122.390288,1103.0
5,2019-04-17 19:39:05,2019-04-17 19:49:26,100.0,37.7671,-122.410662,74.0,37.776435,-122.426244,1473.0
6,2019-02-26 08:11:01,2019-02-26 08:22:58,67.0,37.776639,-122.395526,8.0,37.799953,-122.398525,4984.0
7,2019-02-02 09:23:15,2019-02-02 09:34:20,44.0,37.781074,-122.411738,55.0,37.777053,-122.429558,2666.0
8,2019-05-07 12:08:01,2019-05-07 12:12:00,9.0,37.798572,-122.400869,6.0,37.80477,-122.403234,1961.0
9,2019-09-04 21:58:19,2019-09-04 22:09:07,86.0,37.769305,-122.426826,39.0,37.778999,-122.436861,9717.0
10,2019-06-12 18:04:25,2019-06-12 18:15:57,241.0,37.852477,-122.270213,271.0,37.855783,-122.283127,840.0
11,2019-08-31 13:12:58,2019-08-31 13:34:22,304.0,37.348759,-121.894798,282.0,37.332426,-121.890349,3412.0
12,2019-10-17 08:56:41,2019-10-17 09:02:35,61.0,37.776513,-122.411306,90.0,37.771058,-122.402717,12353.0
13,2019-02-12 07:11:41,2019-02-12 07:15:22,223.0,37.764765,-122.420091,100.0,37.7671,-122.410662,5185.0
14,2019-03-13 11:36:57,2019-03-13 11:45:29,252.0,37.865847,-122.267443,241.0,37.852477,-122.270213,5172.0
15,2019-02-01 11:38:20,2019-02-01 11:53:14,139.0,37.751017,-122.411901,104.0,37.767045,-122.390833,4813.0
16,2019-07-10 17:16:46,2019-07-10 17:23:22,79.0,37.773492,-122.403672,44.0,37.781074,-122.411738,1312.0
17,2019-07-28 13:49:45,2019-07-28 14:17:33,NaN,37.806791,-122.419491,NaN,37.798469,-122.401155,928582.0
18,2019-12-23 09:06:10,2019-12-23 09:10:45,323.0,37.798014,-122.40595,14.0,37.795001,-122.39997,12895.0
19,2019-01-10 09:55:28,2019-01-10 09:59:27,223.0,37.764765,-122.420091,112.0,37.763847,-122.413004,845.0

In [9]:
print(bikeRen.info())
print(bikeRen.describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2507003 entries, 0 to 2507002
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   start_time         object
 1   end_time           object
 2   start_station_id   object
 3   start_station_lat  object
 4   start_station_lon  object
 5   end_station_id     object
 6   end_station_lat    object
 7   end_station_lon    object
 8   bike_id            object
dtypes: object(9)
memory usage: 191.3+ MB
None
       start_time end_time  start_station_id  start_station_lat  \
count     2507003  2507003         2426269.0       2.507003e+06
unique    2304544  2303004             867.0       7.712800e+04
top       Failure  Failure              58.0       3.777662e+01
freq           10       10           34467.0       3.446700e+04

        start_station_lon  end_station_id  end_station_lat  end_station_lon  \
count        2.507003e+06       2424101.0     2.507003e+06     2.507003e+06
unique       7.795100e+04           869.0     7.936400e+04     8.005900e+04
top         -1.224174e+02            67.0     3.777664e+01    -1.223955e+02
freq         3.446700e+04         39879.0     3.987900e+04     3.987900e+04

          bike_id
count   2507003.0
unique    22024.0
top        3135.0
freq        692.0

In [10]:
bikeRen.isna().sum()

start_time               0
end_time                 0
start_station_id     80734
start_station_lat        0
start_station_lon        0
end_station_id       82902
end_station_lat          0
end_station_lon          0
bike_id                  0
dtype: int64

In [11]:
bikeRen["bike_id"]= pd.to_numeric(bikeRen["bike_id"], errors='coerce')

print(bikeRen.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2507003 entries, 0 to 2507002
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   start_time         object
 1   end_time           object
 2   start_station_id   object
 3   start_station_lat  object
 4   start_station_lon  object
 5   end_station_id     object
 6   end_station_lat    object
 7   end_station_lon    object
 8   bike_id            float64
dtypes: float64(1), object(8)
memory usage: 191.3+ MB
None

In [12]:
bikeRen["bike_id"]= bikeRen["bike_id"].astype('Int64')
print(bikeRen.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2507003 entries, 0 to 2507002
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   start_time         object
 1   end_time           object
 2   start_station_id   object
 3   start_station_lat  object
 4   start_station_lon  object
 5   end_station_id     object
 6   end_station_lat    object
 7   end_station_lon    object
 8   bike_id            Int64
dtypes: Int64(1), object(8)
memory usage: 193.7+ MB
None

In [13]:
bikeRen["start_station_lat"]= pd.to_numeric(bikeRen["start_station_lat"], errors='coerce')
bikeRen.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2507003 entries, 0 to 2507002
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   start_time         object
 1   end_time           object
 2   start_station_id   object
 3   start_station_lat  float64
 4   start_station_lon  object
 5   end_station_id     object
 6   end_station_lat    object
 7   end_station_lon    object
 8   bike_id            Int64
dtypes: Int64(1), float64(1), object(7)
memory usage: 193.7+ MB

In [14]:
bikeRen["start_station_lon"]=pd.to_numeric(bikeRen["start_station_lon"], errors='coerce')
bikeRen["end_station_lat"]=pd.to_numeric(bikeRen["end_station_lat"], errors='coerce')
bikeRen["end_station_lon"]=pd.to_numeric(bikeRen["end_station_lon"], errors='coerce')
bikeRen.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2507003 entries, 0 to 2507002
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   start_time         object
 1   end_time           object
 2   start_station_id   object
 3   start_station_lat  float64
 4   start_station_lon  float64
 5   end_station_id     object
 6   end_station_lat    float64
 7   end_station_lon    float64
 8   bike_id            Int64
dtypes: Int64(1), float64(4), object(4)
memory usage: 193.7+ MB

In [15]:
bikeRen["start_station_id"] =pd.to_numeric(bikeRen["start_station_id"], errors='coerce')
bikeRen["start_station_id"]= bikeRen["start_station_id"].astype("Int64")
bikeRen["end_station_id"] =pd.to_numeric(bikeRen["end_station_id"], errors='coerce')
bikeRen["end_station_id"]= bikeRen["end_station_id"].astype("Int64")

In [16]:
bikeRen.isnull().sum()

start_time               0
end_time                 0
start_station_id     80744
start_station_lat       10
start_station_lon       10
end_station_id       82912
end_station_lat         10
end_station_lon         10
bike_id                 11
dtype: int64

In [17]:
#create a new data frame that containts all failure rows from bikeRent
rent_failure = bikeRen["start_time"].str.contains('Failure')

data_failure = bikeRen[rent_failure]
data_failure

,start_time,end_time,start_station_id,start_station_lat,start_station_lon,end_station_id,end_station_lat,end_station_lon,bike_id
381556,Failure,Failure,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>
485428,Failure,Failure,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>
621119,Failure,Failure,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>
713198,Failure,Failure,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>
1150787,Failure,Failure,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>
1558857,Failure,Failure,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>
1676023,Failure,Failure,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>
1697405,Failure,Failure,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>
1999499,Failure,Failure,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>
2249494,Failure,Failure,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>

drop all rows in data failure

In [18]:
#remove all rows that match failure rows
bikeRen = bikeRen.drop(data_failure.index, axis= 0)
display(data_failure)

,start_time,end_time,start_station_id,start_station_lat,start_station_lon,end_station_id,end_station_lat,end_station_lon,bike_id
381556,Failure,Failure,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>
485428,Failure,Failure,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>
621119,Failure,Failure,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>
713198,Failure,Failure,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>
1150787,Failure,Failure,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>
1558857,Failure,Failure,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>
1676023,Failure,Failure,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>
1697405,Failure,Failure,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>
1999499,Failure,Failure,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>
2249494,Failure,Failure,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>

In [19]:
check_failure = bikeRen["start_time"].str.contains('Failure')
#a method to checks whether there is still failure row
def is_clear_of_failure(s) :
    clear = True
    for b in s:
        if b == True:
            clear = False
    print(clear)
    
is_clear_of_failure(check_failure)

True

In [20]:
bikeRen["start_time"]= pd.to_datetime(bikeRen["start_time"],format ='%Y-%m-%d %H:%M:%S')

In [21]:
bikeRen["end_time"]= pd.to_datetime(bikeRen["end_time"],format ='%Y-%m-%d %H:%M:%S')

In [22]:
bikeRen.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2506993 entries, 0 to 2507002
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   start_time         datetime64[ns]
 1   end_time           datetime64[ns]
 2   start_station_id   Int64
 3   start_station_lat  float64
 4   start_station_lon  float64
 5   end_station_id     Int64
 6   end_station_lat    float64
 7   end_station_lon    float64
 8   bike_id            Int64
dtypes: Int64(3), datetime64[ns](2), float64(4)
memory usage: 198.4 MB

In [23]:
bikeRen.head(10)

,start_time,end_time,start_station_id,start_station_lat,start_station_lon,end_station_id,end_station_lat,end_station_lon,bike_id
0,2019-10-28 09:46:47,2019-10-28 09:51:05,50,37.780526,-122.390288,453,37.777934,-122.396973,12424
1,2019-08-10 19:31:02,2019-08-10 19:35:05,285,37.783521,-122.431158,74,37.776435,-122.426244,1718
2,2019-05-27 13:18:58,2019-05-27 13:46:37,10,37.795393,-122.404770,399,37.802636,-122.436289,608
3,2019-07-24 22:47:58,2019-07-24 22:52:48,106,37.763242,-122.430675,72,37.772406,-122.435650,551642
4,2019-04-28 17:26:22,2019-04-28 17:31:54,80,37.775235,-122.397437,50,37.780526,-122.390288,1103
5,2019-04-17 19:39:05,2019-04-17 19:49:26,100,37.767100,-122.410662,74,37.776435,-122.426244,1473
6,2019-02-26 08:11:01,2019-02-26 08:22:58,67,37.776639,-122.395526,8,37.799953,-122.398525,4984
7,2019-02-02 09:23:15,2019-02-02 09:34:20,44,37.781074,-122.411738,55,37.777053,-122.429558,2666
8,2019-05-07 12:08:01,2019-05-07 12:12:00,9,37.798572,-122.400869,6,37.804770,-122.403234,1961
9,2019-09-04 21:58:19,2019-09-04 22:09:07,86,37.769305,-122.426826,39,37.778999,-122.436861,9717

In [24]:
bikeRen = bikeRen.sort_values(by='bike_id')
bikeRen.head(10)
bikeRen[bikeRen["start_station_id"].isnull()]

,start_time,end_time,start_station_id,start_station_lat,start_station_lon,end_station_id,end_station_lat,end_station_lon,bike_id
1956039,2019-02-23 17:57:52,2019-02-23 18:26:20,<NA>,37.410000,-121.950000,<NA>,37.410000,-121.950000,3975
2298364,2019-02-27 14:06:51,2019-02-27 14:13:31,<NA>,37.410000,-121.950000,<NA>,37.410000,-121.960000,3975
193315,2019-03-11 20:46:18,2019-03-11 20:48:55,<NA>,37.420000,-121.940000,<NA>,37.420000,-121.940000,3975
826239,2019-03-11 12:05:53,2019-03-11 12:09:38,<NA>,37.420000,-121.940000,<NA>,37.420000,-121.940000,3975
1321395,2019-03-12 08:44:08,2019-03-12 08:49:39,<NA>,37.420000,-121.940000,<NA>,37.410000,-121.950000,3975
...,...,...,...,...,...,...,...,...,...
813813,2019-12-08 01:15:35,2019-12-08 01:16:41,<NA>,37.775925,-122.392526,<NA>,37.776050,-122.392549,999941
1425376,2019-12-03 10:24:02,2019-12-03 10:25:51,<NA>,37.775769,-122.392549,<NA>,37.775718,-122.392675,999941
1434984,2019-12-27 12:51:19,2019-12-27 12:52:25,<NA>,37.775912,-122.392578,<NA>,37.775857,-122.392584,999941
1274746,2019-12-03 11:05:06,2019-12-03 11:07:02,<NA>,37.775776,-122.392644,<NA>,37.775815,-122.392665,999941
707841,2019-12-03 14:44:20,2019-12-03 14:57:29,<NA>,37.775697,-122.392706,<NA>,37.775703,-122.392664,999941

In [94]:
#new dataframe that can be used to merge the missing values
df_station_info_pre = bikeRen[['start_station_id', 'start_station_lat', 'start_station_lon']]
df_station_info=df_station_info_pre.dropna().copy()
df_station_info.drop_duplicates(inplace=True)

         start_station_id  start_station_lat  start_station_lon
820394                436          37.870310        -122.409794
315417                 92          37.773503        -122.402113
1052707               195          37.791826        -122.410040
1590064               395          37.778562        -122.415787
1971590               231          37.352950        -122.287678
...                   ...                ...                ...
2382399               262          37.869785        -122.287936
207062                 65          37.830296        -122.289430
879163                329          37.344018        -121.915063
1571879               428          37.774661        -122.416308
1459031               468          37.866289        -121.912610

[23360 rows x 3 columns]

In [54]:
df_station_info.sort_values(by= 'start_station_id')

         start_station_id  start_station_lat  start_station_lon
2456862                 3          37.786375        -122.404904
2065268                 4          37.785881        -122.408915
377857                  5          37.783899        -122.408445
209926                  6          37.804770        -122.403234
1584959                 7          37.804562        -122.271738
...                   ...                ...                ...
1041035               492          37.790803        -122.432590
1839715               493          37.776664        -122.407908
231213                494          37.326282        -121.904911
1707561               495          37.343208        -121.884390
1678490               498          37.725890        -122.452444

[469 rows x 3 columns]

In [92]:
from sklearn.cluster import KMeans
bikeRen.start_station_id.unique()

<IntegerArray>
[ 436,   92,  195,  395,  231,  408,  131,  380,  228,  345,
 ...
  494,  444,  498,  484,  429,  329,   65,  428,  449, <NA>]
Length: 437, dtype: Int64

In [95]:
kmeans = KMeans(n_clusters=436)

In [98]:
# Fit the model to the station coordinates
X = df_station_info[['start_station_lat', 'start_station_lon']].values



kmeans.fit(X)

# Predict the cluster labels for the missing coordinates
# missing_coords = bikeRen[bikeRen.start_station_id.isna()].copy().loc[:,'start_station_lat':'start_station_lon']
# missing_labels = kmeans.predict(missing_coords)

# missing_data = bikeRen[bikeRen.start_station_id.isna()]

# Assign the closest station id to each missing coordinate

# for i, label in enumerate(missing_labels):
#     closest_station = df_station_info[kmeans.labels_ == label].iloc[-1]['start_station_id']
#     print(f"Missing station id {i+1} is closest to {closest_station}.")
    
    
for i, row in bikeRen[bikeRen.start_station_id.isna()].iterrows():
    
        coord = [[row['start_station_lat'],row['start_station_lon']]]
        prediction = kmeans.predict(coord)
        closest_station = df_station_info[kmeans.labels_ == prediction].iloc[-1]['start_station_id']
        print(f"Missing station id {i+1} is closest to {closest_station}.")
        
        bikeRen.at[i, 'start_station_id'] = closest_station
        
        

    

# test = bikeRen[bikeRen['start_station_id'].isna()].apply(fill_station_id, axis = 1)
# test

c:\Users\riven\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

Missing station id 1751892 is closest to 114.0.
Missing station id 1237261 is closest to 91.0.
Missing station id 1272998 is closest to 78.0.
Missing station id 2126893 is closest to 63.0.
Missing station id 164625 is closest to 321.0.
Missing station id 1914206 is closest to 44.0.
Missing station id 1094014 is closest to 458.0.
Missing station id 1600193 is closest to 130.0.
Missing station id 1619966 is closest to 323.0.
Missing station id 1948832 is closest to 104.0.
Missing station id 23414 is closest to 386.0.
Missing station id 2488413 is closest to 386.0.
Missing station id 1676426 is closest to 136.0.
Missing station id 858147 is closest to 386.0.
Missing station id 2289325 is closest to 25.0.
Missing station id 463979 is closest to 324.0.
Missing station id 936562 is closest to 104.0.
Missing station id 1187372 is closest to 364.0.
Missing station id 2071244 is closest to 75.0.
Missing station id 231230 is closest to 323.0.
Missing station id 1166625 is closest to 139.0.
Missing station id 1027536 is closest to 144.0.
Missing station id 168545 is closest to 370.0.
Missing station id 687058 is closest to 53.0.
Missing station id 814851 is closest to 21.0.
Missing station id 140880 is closest to 118.0.
Missing station id 1905988 is closest to 467.0.
Missing station id 2490581 is closest to 93.0.
Missing station id 605397 is closest to 19.0.
Missing station id 2212357 is closest to 60.0.
Missing station id 1398976 is closest to 487.0.
Missing station id 881530 is closest to 23.0.
Missing station id 1615608 is closest to 369.0.
Missing station id 1036806 is closest to 6.0.
Missing station id 1515071 is closest to 53.0.
Missing station id 320400 is closest to 367.0.
Missing station id 1606659 is closest to 25.0.
Missing station id 646908 is closest to 54.0.
Missing station id 606186 is closest to 3.0.
Missing station id 814681 is closest to 399.0.
Missing station id 817012 is closest to 16.0.
Missing station id 2067510 is closest to 39.0.
Missing station id 2436383 is closest to 126.0.
Missing station id 1394930 is closest to 37.0.
Missing station id 596075 is closest to 25.0.
Missing station id 2411475 is closest to 41.0.
Missing station id 1445239 is closest to 23.0.
Missing station id 1564480 is closest to 50.0.
Missing station id 1390368 is closest to 23.0.
Missing station id 131749 is closest to 384.0.
Missing station id 1824395 is closest to 75.0.
Missing station id 974614 is closest to 371.0.
Missing station id 285933 is closest to 343.0.
Missing station id 1337331 is closest to 37.0.
Missing station id 1042419 is closest to 371.0.
Missing station id 1087338 is closest to 122.0.
Missing station id 1057329 is closest to 33.0.
Missing station id 2202086 is closest to 441.0.
Missing station id 345489 is closest to 11.0.
Missing station id 1396923 is closest to 74.0.
Missing station id 697331 is closest to 10.0.
Missing station id 2047605 is closest to 16.0.
Missing station id 356642 is closest to 25.0.
Missing station id 2080351 is closest to 375.0.
Missing station id 340205 is closest to 324.0.
Missing station id 2176061 is closest to 428.0.
Missing station id 241558 is closest to 399.0.
Missing station id 757874 is closest to 50.0.
Missing station id 1571744 is closest to 386.0.
Missing station id 1439482 is closest to 20.0.
Missing station id 364572 is closest to 10.0.
Missing station id 470934 is closest to 75.0.
Missing station id 849428 is closest to 21.0.
Missing station id 2162109 is closest to 285.0.
Missing station id 1212796 is closest to 383.0.
Missing station id 587463 is closest to 395.0.
Missing station id 2475861 is closest to 400.0.
Missing station id 1138462 is closest to 21.0.
Missing station id 996292 is closest to 481.0.
Missing station id 2033069 is closest to 285.0.
Missing station id 371298 is closest to 11.0.
Missing station id 1332736 is closest to 53.0.
Missing station id 2273795 is closest to 419.0.
Missing station id 663379 is closest to 412.0.
Missing station id 1777775 is closest to 424.0.
Missing station id 218571 is closest to 19.0.
Missing station id 276771 is closest to 27.0.
Missing station id 300873 is closest to 60.0.
Missing station id 474344 is closest to 75.0.
Missing station id 133612 is closest to 127.0.
Missing station id 1434896 is closest to 41.0.
Missing station id 2006882 is closest to 144.0.
Missing station id 376445 is closest to 25.0.
Missing station id 1724362 is closest to 371.0.
Missing station id 912784 is closest to 400.0.
Missing station id 2381102 is closest to 95.0.
Missing station id 1473058 is closest to 323.0.
Missing station id 419516 is closest to 39.0.
Missing station id 1317368 is closest to 412.0.
Missing station id 205877 is closest to 58.0.
Missing station id 1005342 is closest to 126.0.
Missing station id 1806214 is closest to 344.0.
Missing station id 1160612 is closest to 78.0.
Missing station id 1212472 is closest to 395.0.
Missing station id 129741 is closest to 23.0.
Missing station id 708995 is closest to 439.0.
Missing station id 1103844 is closest to 137.0.
Missing station id 406073 is closest to 363.0.
Missing station id 281156 is closest to 23.0.
Missing station id 1227275 is closest to 53.0.
Missing station id 849535 is closest to 424.0.
Missing station id 473160 is closest to 386.0.
Missing station id 1234959 is closest to 375.0.
Missing station id 2353536 is closest to 364.0.
Missing station id 1429627 is closest to 19.0.
Missing station id 1777995 is closest to 100.0.
Missing station id 806041 is closest to 100.0.
Missing station id 731439 is closest to 127.0.
Missing station id 676668 is closest to 127.0.
Missing station id 2165332 is closest to 399.0.
Missing station id 383318 is closest to 98.0.
Missing station id 1019992 is closest to 428.0.
Missing station id 2383115 is closest to 321.0.
Missing station id 607223 is closest to 419.0.
Missing station id 347231 is closest to 384.0.
Missing station id 454367 is closest to 60.0.
Missing station id 231439 is closest to 31.0.
Missing station id 1846481 is closest to 58.0.
Missing station id 1543721 is closest to 6.0.
Missing station id 1576030 is closest to 375.0.
Missing station id 1365944 is closest to 424.0.
Missing station id 2273649 is closest to 398.0.
Missing station id 1254903 is closest to 75.0.
Missing station id 2111382 is closest to 321.0.
Missing station id 1937883 is closest to 439.0.
Missing station id 1319097 is closest to 480.0.
Missing station id 1337563 is closest to 137.0.
Missing station id 456095 is closest to 58.0.
Missing station id 989406 is closest to 276.0.
Missing station id 2027592 is closest to 308.0.
Missing station id 1163602 is closest to 316.0.
Missing station id 446204 is closest to 310.0.
Missing station id 1492423 is closest to 341.0.
Missing station id 117072 is closest to 314.0.
Missing station id 1479191 is closest to 341.0.
Missing station id 205602 is closest to 341.0.
Missing station id 2059867 is closest to 308.0.
Missing station id 2499599 is closest to 276.0.
Missing station id 1948671 is closest to 85.0.
Missing station id 1988017 is closest to 341.0.
Missing station id 1456465 is closest to 276.0.
Missing station id 2261439 is closest to 470.0.
Missing station id 1960260 is closest to 341.0.
Missing station id 1075849 is closest to 341.0.
Missing station id 312856 is closest to 314.0.
Missing station id 133511 is closest to 275.0.
Missing station id 1881786 is closest to 426.0.
Missing station id 708895 is closest to 308.0.
Missing station id 1026440 is closest to 131.0.
Missing station id 93532 is closest to 308.0.
Missing station id 2000735 is closest to 23.0.
Missing station id 265245 is closest to 442.0.
Missing station id 1221452 is closest to 276.0.
Missing station id 245374 is closest to 341.0.
Missing station id 652007 is closest to 341.0.
Missing station id 1114564 is closest to 308.0.
Missing station id 471271 is closest to 308.0.
Missing station id 829542 is closest to 341.0.
Missing station id 7545 is closest to 341.0.
Missing station id 1036473 is closest to 312.0.
Missing station id 1143609 is closest to 341.0.
Missing station id 1266123 is closest to 141.0.
Missing station id 1104565 is closest to 295.0.
Missing station id 1411846 is closest to 308.0.
Missing station id 1388954 is closest to 284.0.
Missing station id 2118129 is closest to 80.0.
Missing station id 2313660 is closest to 316.0.
Missing station id 2327567 is closest to 21.0.
Missing station id 465812 is closest to 291.0.
Missing station id 1332600 is closest to 311.0.
Missing station id 241800 is closest to 357.0.
Missing station id 2014672 is closest to 6.0.
Missing station id 2235308 is closest to 105.0.
Missing station id 1150763 is closest to 33.0.
Missing station id 510546 is closest to 133.0.
Missing station id 2467676 is closest to 25.0.
Missing station id 344035 is closest to 70.0.
Missing station id 1947023 is closest to 95.0.
Missing station id 1244412 is closest to 419.0.
Missing station id 1693784 is closest to 93.0.
Missing station id 1365625 is closest to 428.0.
Missing station id 222580 is closest to 3.0.
Missing station id 1230295 is closest to 370.0.
Missing station id 2467970 is closest to 58.0.
Missing station id 415055 is closest to 285.0.
Missing station id 748248 is closest to 19.0.
Missing station id 2320966 is closest to 477.0.
Missing station id 1539729 is closest to 439.0.
Missing station id 1139375 is closest to 100.0.
Missing station id 2004999 is closest to 51.0.
Missing station id 1124288 is closest to 93.0.
Missing station id 118285 is closest to 74.0.
Missing station id 48772 is closest to 3.0.
Missing station id 2102277 is closest to 428.0.
Missing station id 417318 is closest to 62.0.
Missing station id 2286053 is closest to 399.0.
Missing station id 996674 is closest to 85.0.
Missing station id 2047163 is closest to 50.0.
Missing station id 650159 is closest to 75.0.
Missing station id 912106 is closest to 100.0.
Missing station id 2108978 is closest to 371.0.
Missing station id 413631 is closest to 105.0.
Missing station id 945295 is closest to 58.0.
Missing station id 153950 is closest to 90.0.
Missing station id 1469061 is closest to 31.0.
Missing station id 1614287 is closest to 370.0.
Missing station id 2502092 is closest to 419.0.
Missing station id 2183747 is closest to 127.0.
Missing station id 1357861 is closest to 129.0.
Missing station id 686363 is closest to 480.0.
Missing station id 1411972 is closest to 60.0.
Missing station id 583038 is closest to 363.0.
Missing station id 1760037 is closest to 129.0.
Missing station id 1178912 is closest to 454.0.
Missing station id 143784 is closest to 85.0.
Missing station id 1011617 is closest to 390.0.
Missing station id 341672 is closest to 75.0.
Missing station id 134800 is closest to 390.0.
Missing station id 1961885 is closest to 98.0.
Missing station id 840923 is closest to 78.0.
Missing station id 1460669 is closest to 454.0.
Missing station id 1347417 is closest to 350.0.
Missing station id 1494819 is closest to 380.0.
Missing station id 2437887 is closest to 53.0.
Missing station id 1730860 is closest to 16.0.
Missing station id 246019 is closest to 440.0.
Missing station id 143505 is closest to 395.0.
Missing station id 711960 is closest to 369.0.
Missing station id 103340 is closest to 381.0.
Missing station id 1486637 is closest to 133.0.
Missing station id 1218511 is closest to 381.0.
Missing station id 1780389 is closest to 23.0.
Missing station id 2132682 is closest to 456.0.
Missing station id 210727 is closest to 23.0.
Missing station id 2159511 is closest to 371.0.
Missing station id 2374806 is closest to 44.0.
Missing station id 65881 is closest to 16.0.
Missing station id 300131 is closest to 127.0.
Missing station id 1153397 is closest to 129.0.
Missing station id 1272522 is closest to 33.0.
Missing station id 66455 is closest to 33.0.
Missing station id 226190 is closest to 380.0.
Missing station id 1084774 is closest to 375.0.
Missing station id 2076995 is closest to 370.0.
Missing station id 571135 is closest to 370.0.
Missing station id 1177922 is closest to 384.0.
Missing station id 2335613 is closest to 419.0.
Missing station id 2051581 is closest to 33.0.
Missing station id 551938 is closest to 21.0.
Missing station id 2245858 is closest to 90.0.
Missing station id 1151206 is closest to 33.0.
Missing station id 1059519 is closest to 370.0.
Missing station id 114515 is closest to 25.0.
Missing station id 812828 is closest to 363.0.
Missing station id 86186 is closest to 3.0.
Missing station id 1554073 is closest to 75.0.
Missing station id 66224 is closest to 23.0.
Missing station id 2214824 is closest to 481.0.
Missing station id 2274887 is closest to 80.0.
Missing station id 2029161 is closest to 104.0.
Missing station id 295397 is closest to 390.0.
Missing station id 2321393 is closest to 98.0.
Missing station id 303163 is closest to 3.0.
Missing station id 98661 is closest to 380.0.
Missing station id 78111 is closest to 386.0.
Missing station id 2452348 is closest to 19.0.
Missing station id 2224866 is closest to 19.0.
Missing station id 980303 is closest to 459.0.
Missing station id 1927212 is closest to 23.0.
Missing station id 1265960 is closest to 487.0.
Missing station id 365127 is closest to 400.0.
Missing station id 1777143 is closest to 363.0.
Missing station id 758280 is closest to 80.0.
Missing station id 957921 is closest to 16.0.
Missing station id 2149709 is closest to 107.0.
Missing station id 750721 is closest to 58.0.
Missing station id 2049551 is closest to 371.0.
Missing station id 432224 is closest to 100.0.
Missing station id 1898519 is closest to 350.0.
Missing station id 110398 is closest to 109.0.
Missing station id 1480591 is closest to 3.0.
Missing station id 1014804 is closest to 383.0.
Missing station id 265415 is closest to 23.0.
Missing station id 178377 is closest to 80.0.
Missing station id 1951692 is closest to 58.0.
Missing station id 1153733 is closest to 50.0.
Missing station id 928500 is closest to 10.0.
Missing station id 2467270 is closest to 3.0.
Missing station id 1189515 is closest to 19.0.
Missing station id 1993308 is closest to 53.0.
Missing station id 792719 is closest to 85.0.
Missing station id 2485036 is closest to 419.0.
Missing station id 1418692 is closest to 33.0.
Missing station id 1114622 is closest to 400.0.
Missing station id 1826523 is closest to 81.0.
Missing station id 1141957 is closest to 380.0.
Missing station id 665545 is closest to 371.0.
Missing station id 1092761 is closest to 350.0.
Missing station id 2068477 is closest to 321.0.
Missing station id 1447598 is closest to 456.0.
Missing station id 1686779 is closest to 371.0.
Missing station id 1560576 is closest to 63.0.
Missing station id 2166464 is closest to 441.0.
Missing station id 307909 is closest to 60.0.
Missing station id 801660 is closest to 81.0.
Missing station id 401882 is closest to 23.0.
Missing station id 1515044 is closest to 321.0.
Missing station id 2488953 is closest to 323.0.
Missing station id 2027954 is closest to 343.0.
Missing station id 2490639 is closest to 395.0.
Missing station id 1672751 is closest to 3.0.
Missing station id 765926 is closest to 58.0.
Missing station id 2365523 is closest to 80.0.
Missing station id 839820 is closest to 87.0.
Missing station id 1448262 is closest to 384.0.
Missing station id 573195 is closest to 400.0.
Missing station id 666228 is closest to 91.0.
Missing station id 1094303 is closest to 23.0.
Missing station id 2282496 is closest to 100.0.
Missing station id 1470926 is closest to 144.0.
Missing station id 1798921 is closest to 107.0.
Missing station id 503305 is closest to 129.0.
Missing station id 1807181 is closest to 23.0.
Missing station id 1106904 is closest to 114.0.
Missing station id 106161 is closest to 98.0.
Missing station id 2413358 is closest to 459.0.
Missing station id 1584687 is closest to 323.0.
Missing station id 1249453 is closest to 344.0.
Missing station id 663954 is closest to 104.0.
Missing station id 1989714 is closest to 21.0.
Missing station id 1675548 is closest to 129.0.
Missing station id 1123103 is closest to 462.0.
Missing station id 301970 is closest to 78.0.
Missing station id 2090154 is closest to 459.0.
Missing station id 785278 is closest to 350.0.
Missing station id 1942604 is closest to 462.0.
Missing station id 223418 is closest to 58.0.
Missing station id 1116206 is closest to 23.0.
Missing station id 1004716 is closest to 118.0.
Missing station id 2403949 is closest to 321.0.
Missing station id 1009886 is closest to 21.0.
Missing station id 1545363 is closest to 462.0.
Missing station id 1628286 is closest to 363.0.
Missing station id 3992 is closest to 344.0.
Missing station id 864117 is closest to 380.0.
Missing station id 1184912 is closest to 419.0.
Missing station id 1294873 is closest to 478.0.
Missing station id 1426062 is closest to 487.0.
Missing station id 496663 is closest to 75.0.
Missing station id 2324593 is closest to 400.0.
Missing station id 575725 is closest to 399.0.
Missing station id 1182416 is closest to 16.0.
Missing station id 2356005 is closest to 344.0.
Missing station id 1140649 is closest to 284.0.
Missing station id 2244555 is closest to 424.0.
Missing station id 1896382 is closest to 384.0.
Missing station id 94106 is closest to 44.0.
Missing station id 418307 is closest to 23.0.
Missing station id 572516 is closest to 343.0.
Missing station id 1347891 is closest to 426.0.
Missing station id 441095 is closest to 314.0.
Missing station id 2423887 is closest to 208.0.
Missing station id 1933771 is closest to 423.0.
Missing station id 2432243 is closest to 341.0.
Missing station id 2187314 is closest to 276.0.
Missing station id 1955509 is closest to 296.0.
Missing station id 246226 is closest to 423.0.
Missing station id 2371034 is closest to 276.0.
Missing station id 1206996 is closest to 426.0.
Missing station id 1320180 is closest to 276.0.
Missing station id 1261091 is closest to 423.0.
Missing station id 2228422 is closest to 418.0.
Missing station id 103566 is closest to 312.0.
Missing station id 2437030 is closest to 423.0.
Missing station id 8280 is closest to 296.0.
Missing station id 629243 is closest to 276.0.
Missing station id 479417 is closest to 276.0.
Missing station id 277140 is closest to 423.0.
Missing station id 702314 is closest to 476.0.
Missing station id 427396 is closest to 298.0.
Missing station id 1773188 is closest to 19.0.
Missing station id 65831 is closest to 139.0.
Missing station id 245214 is closest to 58.0.
Missing station id 494505 is closest to 58.0.
Missing station id 2268526 is closest to 343.0.
Missing station id 1342619 is closest to 137.0.
Missing station id 990766 is closest to 363.0.
Missing station id 1035557 is closest to 141.0.
Missing station id 957775 is closest to 127.0.
Missing station id 1118614 is closest to 144.0.
Missing station id 2106578 is closest to 127.0.
Missing station id 1196422 is closest to 129.0.
Missing station id 1516826 is closest to 60.0.
Missing station id 1455435 is closest to 130.0.
Missing station id 1743664 is closest to 399.0.
Missing station id 912813 is closest to 98.0.
Missing station id 1427641 is closest to 130.0.
Missing station id 2379259 is closest to 90.0.
Missing station id 99746 is closest to 375.0.
Missing station id 779062 is closest to 114.0.
Missing station id 398938 is closest to 454.0.
Missing station id 562954 is closest to 139.0.
Missing station id 322207 is closest to 399.0.
Missing station id 1983337 is closest to 58.0.
Missing station id 2193031 is closest to 8.0.
Missing station id 589488 is closest to 323.0.
Missing station id 1883231 is closest to 37.0.
Missing station id 825938 is closest to 11.0.
Missing station id 2458168 is closest to 11.0.
Missing station id 602547 is closest to 144.0.
Missing station id 2020251 is closest to 137.0.
Missing station id 1727245 is closest to 386.0.
Missing station id 557376 is closest to 477.0.
Missing station id 706424 is closest to 144.0.

KeyboardInterrupt:

In [99]:
bikeRen.isna().sum()

start_time               0
end_time                 0
start_station_id     54564
start_station_lat        0
start_station_lon        0
end_station_id       82902
end_station_lat          0
end_station_lon          0
bike_id                  1
dtype: int64

In [39]:
closest_station.dtype

dtype('float64')

In [42]:
closest_station = closest_station.astype('int64')
closest_station

81